header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    img {
        height: 6em;
    }
    nav {
        a,
        button {
            margin-left: 1em;
            padding: 1em 2em;
            font-size: 1.1em;
            text-decoration: none;
            color: grey;
            transition: 0.3s;
            border-radius: 1em;
            border: none;
            cursor: pointer;
            &:hover {
                background-color: aliceblue;
            }
            &:last-child {
                background-color: aliceblue;
                color: rgb(123, 123, 255);
                font-weight: bold;
                &:hover {
                    background-color: rgb(123, 123, 255);
                    color: aliceblue;
                }
            }
        }
    }
}
