section {
    height: 100%;
    .flex-row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .left-col {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: rgb(67, 67, 67);
            gap: 1em;
            h1 {
                font-size: 3em;
            }
            .input {
                width: 70%;
                border: 2px solid rgb(88, 88, 255);
                border-radius: 1em;
                display: flex;
                padding: 0.5em;
                flex-direction: column;
                outline: 5px solid aliceblue;
                label {
                    font-weight: bold;
                    font-size: 1.1em;
                    margin-left: 1em;
                    margin-top: 0.2em;
                }
                input {
                    height: 1.8em;
                    border: none;
                    outline: none;
                    font-size: 1.2em;
                    margin-left: 1em;
                }
            }
            button {
                padding: 1em 3em;
                font-size: 1.2em;
                background-color: rgb(88, 88, 255);
                color: white;
                border: 1px solid rgb(88, 88, 255);
                border-radius: 1em;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: aliceblue;
                    color: rgb(88, 88, 255);
                }
            }
        }
        .right-col {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(88, 88, 255);
            border-radius: 2em 0 0 2em;
            img {
                width: 100%;
            }
        }
    }
}
